* {
    margin: 0px;
    padding: 0;
}

ul.scene {
    position: relative;
    width: 100vw;
    height: 58vw;
    overflow: hidden;
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
}


.layer {
    position: absolute; 
    background-repeat: no-repeat!important; 
    background-size: contain !important;
    background-position: center center;
}

.background {
    width: 120vw;
    height: 36vw;
    background-image: url("../img/i/background1.jpg");
    background-position: top center;
    background-size: cover;
    left: -10vw !important;
    top: -6vw !important;
}

.castle {
    width: 39.44vw;
    height: 19.75vw;
    background: url("../img/i/castle.png");
    left: 45vw !important;
    top: 11.59vw !important;
}

.man1 {
    width: 40vw;
    height: 34.77vw;
    background: url("../img/i/man1.png");
    left: 6vw !important;
    top: -1vw !important;
}

.man2 {
    width: 23.23vw;
    height: 18.49vw;
    background: url("../img/i/man2.png");
    left: 64vw !important;
    top: 1vw !important;
}

.ground {
    width: 120vw;
    height: 53.8vw;
    background: url("../img/i/ground1.png");
    left: -10vw !important;
    top: -5.8vw !important;
}

.grass {
    width: 120vw;
    height: 29.5vw;
    background: url("../img/i/bg_1.png") 50% 100%;
    background-size: cover;
    left: -10vw !important;
    top: 28vw !important;
}

.smoke-brown {
    width: 36.6vw;
    height: 11.8vw;
    background: url("../img/i/smoke-brown.png");
    left: 35vw !important;
    top: 34vw  !important;
}

.smoke-green {
    width: 43.5vw;
    height: 13.34vw;    
    background: url("../img/i/smoke-green.png");
    left: 55vw !important;
    top: 30vw !important;
}

.smoke-purple {
    width: 37.3vw;
    height: 22.5vw;
    background: url("../img/i/smoke-purple.png");
    left: -1vw !important;
    top: 30vw !important;    
}

.smoke-blue {
    width: 34.9vw;
    height: 28.2vw;
    background: url("../img/i/smoke-blue.png");
    left: 28vw !important;
    top: 6vw !important;
}

.blur {
    width: 31.2vw;
    height: 18.5vw;
    background: url("../img/i/blur.png");
    left: 35vw !important;
    top: 18vw !important;
}